.DS_Store
assets/source - do not touch/
assets/logo gif.gif
assets/logo mp4.mp4
BACKLOG.md
*.original.*
CONTENT-RESEARCH.md
index-draft1.html
index-draft2.html
index-draft3.html
index-draft4.html
index-draft5.html
index-draft6.html
_to_delete/
